<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AwesomeEmail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AwesomeMail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AwesomeEmail.Properties.Settings>
            <setting name="LoginUser" serializeAs="String">
                <value>Login User Name</value>
            </setting>
            <setting name="LoginPw" serializeAs="String">
                <value>Login Password</value>
            </setting>
            <setting name="PopServer" serializeAs="String">
                <value>Server name</value>
            </setting>
            <setting name="PopPort" serializeAs="String">
                <value>995</value>
            </setting>
            <setting name="SmtpServer" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>465</value>
            </setting>
            <setting name="UsSsl" serializeAs="String">
                <value>True</value>
            </setting>
        </AwesomeEmail.Properties.Settings>
        <AwesomeMail.Properties.Settings>
            <setting name="LoginUser" serializeAs="String">
                <value>Login User Name</value>
            </setting>
            <setting name="LoginPw" serializeAs="String">
                <value>Login Password</value>
            </setting>
            <setting name="PopServer" serializeAs="String">
                <value>Server name</value>
            </setting>
            <setting name="PopPort" serializeAs="String">
                <value>995</value>
            </setting>
            <setting name="SmtpServer" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>465</value>
            </setting>
        </AwesomeMail.Properties.Settings>
    </userSettings>
</configuration>